<% if !spotlight.nil? %>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <%= link_to spotlight.title, work_path(spotlight.id), class: "spotlight__link-to"%> by <%= spotlight.creator %>
    </h2>
    <p class="spotlight__description">
      <%= spotlight.votes.count %> votes - <%= spotlight.description %>
    </p>
  </section>
<% else %>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Add some media to get a Spotlight</span>
    </h2>
  </section>
<% end %>