<main>
  <%= render partial: "spotlight", object: @spotlight %>
  <%# since the name of the variable and partial are the same I can send down an object instead of locals%>

  <hr class="root__hr" />
  <section class="top-ten__container">
    <%= render partial: "homepage", locals: { works_name: "Albums", variable: @albums } %>
    <%= render partial: "homepage", locals: { works_name: "Books", variable: @books } %>
    <%= render partial: "homepage", locals: { works_name: "Movies", variable: @movies } %>
  </section>

</main>